{% extends 'bootstrap_4_layout.html.twig' %}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {%- set type = 'text' -%}
        <div class='input-group datetime'>
            {{- block('form_widget_simple') -}}
            <span class="input-group-append input-group-addon">
                <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date, { datetime: true } ) -}}
            {{- form_widget(form.time, { datetime: true } ) -}}
        </div>
    {%- endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {%- set type = 'text' -%}
        <div class='input-group date'>
            {{- block('form_widget_simple') -}}
            <span class="input-group-append input-group-addon">
                <span class="input-group-text">
                <i class="fa fa-calendar"></i>
                </span>
            </span>
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
                {{- date_pattern|replace({
    '{{ year }}': form_widget(form.year),
    '{{ month }}': form_widget(form.month),
    '{{ day }}': form_widget(form.day),
})|raw -}}
        {% if datetime is not defined or not datetime -%}
        </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {%- set type = 'text' -%}
        <div class='input-group time'>
            {{- block('form_widget_simple') -}}
            <span class="input-group-append input-group-addon">
                <span class="input-group-text">
                <i class="far fa-clock"></i>
                </span>
            </span>
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or false == datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif -%}
        {{- form_widget(form.hour) }}:{{ form_widget(form.minute) }}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
        {% if datetime is not defined or false == datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock time_widget %}

{% block color_widget -%}
    {%- set type = 'text' -%}
    <div class='input-group color'>
        {{- block('form_widget_simple') -}}
        <span class="input-group-append input-group-addon">
            <span class="input-group-text"><i></i></span></span>
    </div>
{%- endblock color_widget %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' btn')|trim}) %}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
        {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% if icon|default %}
        {% set iconHtml = '<i class="' ~ icon ~ '"></i> ' %}
    {% else %}
        {% set iconHtml = '' %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ iconHtml|raw }}{{ label|trans({}, translation_domain) }}</button>
{%- endblock button_widget %}

{% block tkuska_file_widget -%}
    {{- block('form_widget_simple') -}}
    {% spaceless %}
        <script type="text/javascript">
            $("#{{id}}").fileinput({
            {% if data %}
                initialPreview: [
                {% for file in data %}
                    {% if(file.originalExtension in ['svg', 'jpeg', 'jpg', 'bmp', 'png', 'gif']) %}
                                '<img src="{{ file.path|dataUri(false) }}" class="file-preview-image" style="max-width:160px; max-height:160px;">',
                    {% else %}
                                '<object class="file-object" data="{{ file.path|dataUri(false) }}" type="{{ file.mimeType }}" style="max-width:160px; max-height:160px;">' +
                                '<param name="movie" value="{{ file.originalFilename }}">' +
                                '<param name="controller" value="true">' +
                                '<param name="allowFullScreen" value="true">' +
                                '<param name="allowScriptAccess" value="always">' +
                                '<param name="autoPlay" value="false">' +
                                '<param name="autoStart" value="false">' +
                                '<param name="quality" value="high">' +
                                '<div class="file-preview-other">' +
                                '<span class="file-other-icon"><i class="glyphicon glyphicon-file"></i></span>' +
                                '</div>' +
                                '</object>',
                    {% endif %}
                {% endfor %}
                    ],
                            initialPreviewConfig: [
                {% for file in data %}
                            {caption: "{{file.originalFilename}}", size:{{ file.size}}, width: "120px", url: "{{ remove_route }}", key:{{file.id}}, showZoom:{{ show_zoom }}, showDelete: {{ show_remove }} },
                {% endfor %}
                            ],
            {% endif %}
                        language: '{{ language }}',
                        theme: '{{ theme }}',
            {% if ajax %}
                        uploadUrl: '{{ upload_route }}',
                        uploadAsync:{{upload_async}},
            {% endif %}
                        overwriteInitial:{{overwrite_initial}},
                        multiple:{{ multiple }},
            {% if browse_class %} browseClass: '{{ browse_class }}',{% endif %}
            {% if max_file_count %} maxFileCount:{{ max_file_count }},{% endif %}
                        autoReplace:{{ auto_replace }},
                        showCaption:{{ show_caption }},
                        showRemove:{{ show_remove }},
                        showUpload:{{ show_upload }},
                        dropZoneEnabled:{{ drop_zone_enabled }}
                });
        </script>
    {% endspaceless %}
{%- endblock tkuska_file_widget -%}

{% block tkuska_ajax_file_widget -%}
    {{- form_widget(form.file_input) -}}
    {{- form_widget(form.uploaded_files) -}}
    <script type="text/javascript">
        $('#{{form.file_input.vars.id}}').on('fileuploaded', function(event, data, previewId, index) {
        //tutaj po wgraniu pliku dopisujemy go do selectboxa
            $('#{{form.uploaded_files.vars.id}}').val(data.response.initialPreviewConfig.extra.id);
        });

        $('#{{form.file_input.vars.id}}').on('filecleared', function(event) {
            $('#{{form.uploaded_files.vars.id}}').val('');
        });
    </script>
{%- endblock tkuska_ajax_file_widget -%}

